/* ========= Product Card ========= */
.multipleProducts {
  background-color: white;
  padding: 20px 20px 15px;
  flex: 1 1 25%;
}
.singleProduct {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 20px 15px;
  flex: 1 1 25%;
}
.productPageLinkImg{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex: 1;
}
.productPageLinkImg span {
  font-size: 12px;
  color: #0f1111;
}

/* ========= Misc. ========= */
.mainPage-productCard-seeMoreLink {
  font-size: 13px;
  color: #007185;
  text-decoration: none;
  margin: 20px 0 0 0 !important;
  display: flex;
}
.mainPage-productCard-seeMoreLink:hover {
  color: rgb(255, 166, 0);
}
